<app-user-navbar></app-user-navbar>
<!-- user-borrowed-books.component.html -->

<div class="container mt-3">
    <h2>Borrowed Books</h2>
  
    <div *ngIf="borrowedBooks.length > 0; else noBooks">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Author</th>
           
            <th>Genre</th>
            <th>Details</th>
            <th>Rate Book</th>
            <!-- Add more table headers as needed -->
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of borrowedBooks">
            <td>{{ book.name }}</td>
            <td>{{ book.author }}</td>
           
            <td>{{ book.genre }}</td>
            <td>
              <button (click)="showBookDetails(book)" class="btn btn-secondary">More Details</button>
            </td>
            <td>
              <div class="rating">
                <span (click)="selectRating(1, book)" [ngClass]="{ 'filled': book.selectedRating >= 1 }"><i class="fas fa-star"></i></span>
                <span (click)="selectRating(2, book)" [ngClass]="{ 'filled': book.selectedRating >= 2 }"><i class="fas fa-star"></i></span>
                <span (click)="selectRating(3, book)" [ngClass]="{ 'filled': book.selectedRating >= 3 }"><i class="fas fa-star"></i></span>
                <span (click)="selectRating(4, book)" [ngClass]="{ 'filled': book.selectedRating >= 4 }"><i class="fas fa-star"></i></span>
                <span (click)="selectRating(5, book)" [ngClass]="{ 'filled': book.selectedRating >= 5 }"><i class="fas fa-star"></i></span>
              </div>
              <button class="btn btn-success" (click)="submitRating(book)">Submit</button>
            </td>
  
            
            <td>
              
              <button (click)="returnBook(book.id)" class="btn btn-primary">Return Book</button>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <ng-template #noBooks>
      <p>No books borrowed.</p>
    </ng-template>
  </div>

