<app-user-navbar></app-user-navbar>
<!-- user-books.component.html -->
<div class="container mt-3">
  
<h2>Your Books</h2>

<table class="table mt-3" >
  <thead>
    <tr>
      
      <th>Name</th>
      <th>Author</th>
      
      <th>Genre</th>
      <th>Details</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
     
      <td>{{ book.name }}</td>
      <td>{{ book.author }}</td>
    
      <td>{{ book.genre }}</td>
      <td>
        <button (click)="showBookDetails(book)" class="btn btn-secondary">More Details</button>
      </td>
      <td>
        <button class="btn btn-primary" (click)="editBook(book.id)">Edit</button>
        <button class="btn btn-danger" (click)="deleteBook(book.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

</div>