h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out;
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  color: #333;
}

input[type="email"],
input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
form div.suggestions {
  margin-top: 10px;
  color: #888;
}

form div.suggestions ul {
  list-style-type: disc;
  margin-left: 20px;
}

form div.suggestions li {
  margin-bottom: 5px;
}
