@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
/* Global styles */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.filter-bar {
  display: flex;
  align-items: center;
  justify-content: center; /* Center-align the filter bar */
  margin-bottom: 20px;
  animation: slideIn 0.5s ease-out;
}

.filter-bar select,
.filter-bar input {
  width: 300px; /* Adjust the width as per your preference */
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  animation: fadeIn 0.5s ease-out;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item {
  flex: 0 0 auto;
  width: 100%;
  max-width: 300px;
  margin: 0 10px 20px;
  padding: 20px;
  background-color: #fff;
  border: 3px solid #000000;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  animation: slideIn 0.5s ease-out;
}



@media (min-width: 768px) {
  .product-item {
    width: 30%;
    margin: 0 15px 20px;
  }
}


.product-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: pulse 0.5s ;
}

.product-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-image {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
}

.original-price {
  text-decoration: line-through;
  margin-right: 10px;
  
}


.product-discount {
  font-size: 16px;
  color: #ff0000;
  margin-bottom: 10px;
  font-weight: bold;
}

.star-rating {
  color: gray;
}

.star-rating .fa-star.filled {
  color: goldenrod;
}

.loading {
  color: #888;
}
.page-changer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-changer button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.page-changer button.active {
  background-color: #2196f3;
  color: #fff;
}

.page-changer button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
