/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* UserNavbar styles */


/* Orders heading styles */
.orders-heading {
  text-align: center;
  color: #000000;
  margin-top: 20px;
  font-weight: bolder;
  font-size: larger;

}

/* Order container styles */
.order-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}

/* Order table styles */
.order-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Table header styles */
.order-table th {
  padding: 10px;
  background-color: #f5f5f5;
  color: #333;
  font-weight: bold;
  text-align: left;
}

/* Table cell styles */
.order-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  color: #333;
}

/* Order item styles */
.order-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* Product name styles */
.order-item td:nth-child(2) {
  font-weight: bold;
}

/* Price styles */
.order-item td:nth-child(3) {
  color: #777;
}

/* Quantity purchased styles */
.order-item td:nth-child(4) {
  color: #777;
}

/* Order date styles */
.order-item td:nth-child(5) {
  color: #777;
}

/* Order time styles */
.order-item td:nth-child(6) {
  color: #777;
}
